body
{
    background-image: url("Images/StarryBackground.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    color:white;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding:1.0em 1.0em 1.0em;
    margin: 1.0em 0;
   text-align: center;
}
nav ul{
    margin:0;
    padding:  0;
    list-style: none;
    align-content: center;
}
nav li{
    display: inline-block;
    margin: 0;
    align-content: center;
}
nav li a, nav li a:visited{
    text-decoration: none;
    color: blue;
    padding: 0.3em 0.6em;
}
nav li a:hover{
    color: lightblue;
    background-color: rgba(252,251,243,00.75em);
}
h2{
    text-align: center;
    color: white;
    font-size: 30px;

}
.row{
    display:grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    column-gap: 100px;
    row-gap: 3em;
   
}
.projects{
    color:white;
    text-align: center;
}


#project1{
    width: 200px;
    height: 200px;
    
}
#project2{
    width: 200px;
    height: 200px;
    
    
}
#project3{
    width: 200px;
    height:200px;
    
}
#project4{
    width: 200px;
    height: 200px;
   
}
#project5{
    width: 200px;
    height: 200px;
   
}
#project6{
    width: 200px;
    height: 200px;
    
}
.title{
    font-size: 20px;
}